<div class="single-post">
  <nav class="navbar navbar-default">
    <div class="container-fluid front-page-nav">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="http://www.munsif.tv/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/reddit.png" class="img-responsive" height="40px" width="27px">
        </a>
        <%= link_to "Back", user_posts_path(current_user.id), :class => "btn btn-default navbar-btn"%>
      </div>
    </div>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="<%=@post.image %>" alt="" height="200px" width="200px">
      <h2><%=@post.title %></h2>
      <h3><%=@post.body %></h3>
      <% if logged_in? %>
      <div class="form-horizontal">
        <%= form_for :comments,url: user_post_comments_path(@post.user.id, @post.id), :method => 'post' do |f|%>
        <div class="form-group">
          <%= f.text_area :content, cols: "30", rows: "10", :placeholder => "What do you have to say?"%>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", :class => "btn btn-primary" %>
        </div>
        <% end %>
      <% else %>
        <h3>You must be signed in to make a comment</h3>
      <% end %>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% @post.comments.each do |c| %>
        <span><%=c.votes %> | <%=c.content %></span>
        <p>Created By: <%=c.user.username %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
